<ul>
    <li><a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC-BY-SA 4.0</a> 2015-<span id="year">2019</span> Justin W. Wheeler</li>
    <li><a href="https://gitlab.com/jwwheeler/jwwheeler.gitlab.io">Find this site on GitLab</a></li>
</ul>

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
