<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<ul>
    <li><a href="/archive/v3/">Home</a></li>
    <li><a href="https://blog.jwf.io" target="_blank">Blog</a></li>
    <li><a href="https://github.com/jwflory" target="_blank">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/justinwflory/" target="_blank">LinkedIn</a></li>
    <li><a href="https://x.com/jwf_foss" target="_blank">Twitter</a></li>
</ul>
